@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background-color: black;
    font-family: "Itim", cursive;

}

*::selection{
    background-color: salmon;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;

}

.card {
    background-color: gray;
    width: 700px;
    height: 100px;
    border-radius: 100px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    border: 4px solid white;
    justify-content: space-evenly;
}


a{
    text-decoration: none;
    color: white;
}

.profil{
    display: flex;
    justify-content: center;
}

.card:hover{
    border: 4px solid yellow;
    background-color: salmon;

}

.link{
    display: flex;
    flex-direction: column;
}

.video{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.video iframe{
    width: 335px;
    height: 600px;
    margin: 40px;
    border-radius: 40px;
}

.button-switch{
    /* background-color: white; */
    width: 750px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-switch a{
    background-color: bisque;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 40px;
    font-weight: bold;
    border: 4px solid white;
}

.button-switch a:hover{
    background-color: salmon;
    color: white;
}

#link{
    background-color: salmon;
}

@media (max-width: 600px) {
    .card {
        width: 300px; /* Mengisi hampir seluruh layar ponsel */
        height: 60px; /* Sedikit dikurangi untuk layar kecil */
        border-radius: 50px; /* Border-radius dikurangi */
    }

    .card img {
        width: 50px; /* Ukuran gambar lebih kecil */
        height: 50px;
        left: 10px; /* Geser gambar lebih dekat ke kiri */
    }

    .card a {
        font-size: 20px; /* Ukuran teks lebih kecil */
    }

    .card small{
        font-size: 20px;
    }

    .button-switch{
        width: 600px;
    }
}