body{
    background-color: black;
}

*::selection{
    background-color: salmon;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;

}

.card {
    background-color: gray;
    width: 700px;
    height: 100px;
    border-radius: 100px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    border: 4px solid white;
    justify-content: space-evenly;
}

.card img{
    

}

a{
    text-decoration: none;
    color: white;
}

.profil{
    display: flex;
    justify-content: center;
}

.card:hover{
    border: 4px solid yellow;
    background-color: salmon;

}

@media (max-width: 600px) {
    .card {
        width: 300px; /* Mengisi hampir seluruh layar ponsel */
        height: 60px; /* Sedikit dikurangi untuk layar kecil */
        border-radius: 50px; /* Border-radius dikurangi */
    }

    .card img {
        width: 50px; /* Ukuran gambar lebih kecil */
        height: 50px;
        left: 10px; /* Geser gambar lebih dekat ke kiri */
    }

    .card a {
        font-size: 20px; /* Ukuran teks lebih kecil */
    }

    .card small{
        font-size: 20px;
    }
}